* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
}


/* header and nav styles */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

header h1 {
    color: blue;
}

header nav {
    margin-top: 7px;
    margin-bottom: 0;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 12px;
}

header nav ul a {
    text-decoration: none;
    color:turquoise;
    padding: 0px;
}

header nav ul a:after {
    display:block;
    content: '';
    padding-bottom:8px;
    border-bottom: solid 2px skyblue;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

header nav ul a:hover:after {
    transform: scale(1,1);
    transform-origin:  50% 50%;
}

header nav ul:nth-child(4n) {
     
}

/* all sections get */
section {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color:teal;
  }

/* hero styles */
.hero {
    background-image: url('../images/hero-vinyls.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 40px;
}

section:nth-child(odd) {
    background-color:skyblue;
}

.hero h2 {
    margin: 100px 0 20px 0;
    text-align: right;
    color: seashell;
}

/* main body styles */
.intro {
    flex: 1;
    padding: 35px;
}

.intro h2 {
    border-bottom: 1px solid purple;
}

.guts {
    flex: 6;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.guts h3 {
    padding-bottom: 8px;
}


.guts h3, .guts p {
    padding-left: 10px;
}

.card {
    flex: 0 0 31%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #000;
    border-radius: 2px;
    color:rgba(255, 255, 255, 1);
    background-color: orange;
}

.featured {
    flex: 100%;
    background-image: url('../images/rb-hero-bg.jpeg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    
}

.card h3 {
    margin-top: 30%;
    padding-bottom: 6px;
}

.flex-row {
    display: flex;
}
/* footer styling */

footer {
    padding: 20px 35px;
    color:#2c314c;
    background-color: #999;
    background-image: url('../images/footer-grad-bow.jpeg');
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}